.items {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    text-decoration: none;
}
/* .ccc-c {
    background-color: black;
} */

@media (max-width:1050px) {
    .items {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}