.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 8rem;
  height: 9rem;
  background: transparent;
  justify-content: center;
  margin:4px;
  margin-left:15px;
}

.names {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.name .small-name{
  line-height: 0.5;
}
.small-name {
  font-size: 40px;
  font-style:italic;
  margin-top: 0;
  line-height: 1.2;
}
.name {
  text-align: center;
  font-size: 90px;
  font-weight: 350;
  color:rgb(27, 18, 1);
  margin-bottom: 0;
  margin-top: 0
}

.name-links {
  margin-right:40px;
}
ul{
  list-style-type:initial;
}




