.home {
    background-color: rgb(197, 214, 250);
    display: flex;
    padding: 2px;
    border: 4px solid black;
    max-height:85vh;
    overflow: hidden;

}
.mmm-m {
    display: none;
}
.h1-text {
    color: black;
}
/* img{
    width:20rem;
    border-radius: 5%;
    align-items: center;
    margin: 0px;
} */

.section-1 {
    display: inline-block;
    width:25%;
    height:auto;
    border-radius: 10px;
    margin: 6px;
    padding: 20px;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    box-shadow: 1px 0.1px 8px 1px rgb(116, 115, 115);
}
.section-2 {
    width: 100%;
    margin: 0px;
    text-align: center;
    overflow: scroll;
    scrollbar-width: none;
}

.section-3 {
    display: flex;
    flex-direction: column;
    
    width:17%;

    /* overflow: scroll; */
    text-align: center;
    border: 2px solid black;
   
}
.cali-controller{
    /* border: 2px solid black; */
    padding: 10px ;
  
}

.cali-container {
    border-radius: 10px;
    background-color: blanchedalmond;
    box-shadow: 0px ;
    padding:0px;
    box-shadow: 1px 0.1px 8px 1px rgb(116, 115, 115);
     /* height: 400px; */
}

.home-course-container{
    display: flex;
    justify-content: center;
    width:100%;
    /* border: 2px solid black */
}


@media (max-width: 768px) {
    .home{
        border: none;
        display:flex;
        flex-direction: column;
        /* height: auto; */
    }
    .section-1,
    .section-3  {
        display: none;
    }
    .section-3 h3{
        font-size: small;
    }
   
    .menu-controller:active .mmm-m{
        display: block;
    }
    #icon-button {
        display: block;
        width: 20%;
        border-radius: 0px;
    }
    
}
@media(max-width: 1380px) and (min-width: 769px){
    .home{
        display: flex;
    } 
  
    .cali-container,
    .cali-controller{
        height:300px;
    }
    .section-1{
        width: 35%
    }
    .section-3{
        width: 25%
    }
    .section-3 h3{
        font-size: smaller;
    }
    .home-course-container{ 
        width: 100%;
        margin-right: 24px;
        padding: 2px;
        height: 250px;
       
       
    
        border: 2px solid black
    }
}