.nav-header {
  display: flex;
  width: 100%;

}
.main-nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px
}

.nav-img-container {
  width: 10%;
  height: auto;
  text-align: center;

}

.nav-img-container img{
  width: 120px;
  
}


.nav-title-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.nav-title-container h1{
  text-align: center;
  font-size: 90px;
  font-weight: 350;
  color:rgb(27, 18, 1);
  margin-bottom: 0px;
  margin-top: 10px;
  /* margin-right: 80px; */
  line-height: 0.5;
  
}
.nav-title-container h2{
  display: none;
}

.nav-title-container p {
  font-size: 40px;
  font-style:italic;
  margin-top: 0px;
  margin-bottom: -15px;
  line-height: 2.2;
}
.name-links{
  display: flex;

  margin-right: 5px;
}

.gandan-hiid, .gandan{
  display: none
}



@media (max-width: 768px) {
  .main-nav-container {
    display: flex;
  }
  .nav-title-container h3{
    font-size: 1.8rem;
    font-weight: 400;
    display: block;
    line-height: 0.2;
   
  }
  .nav-title-container h1,
  .nav-title-container h2,
  .nav-title-container p{
    display: none;
  }
  
}



 @media (max-width: 1030px) {
  .nav-title-container h1{
    font-size:3rem; 
    align-items: center;
    margin: 5px;
  }
  .nav-title-container p{
    display: none;
  }
  .nav-img-container img{
    width:70px;
  }
}


@media (max-width: 1091px) and (min-width: 1030px){
  .nav-title-container h1{
    font-size: 3rem;
  }
}


