.login{
    width: 80%;
    height: 30px;
    background-color: rgb(12, 80, 239);
    border-radius: 10%;
    text-align: center;
    font-size: medium;
    padding:0px;
    margin-top: 5px;
}

.nav-control {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.home-container {
    margin:10px;
    text-decoration: none;
    background-color: rgb(210, 210, 35);
    text-align: center;
    border-radius: 5px;
    padding: 4px;

}
.home-container:hover{
    color:bisque
}

.addNews-container {
    background-color: rgb(210, 210, 35);
    text-align: center;
    border-radius: 5px;
   
    line-height: 1.0;
    margin:10px;
    width: 90px;
    height:35px;
    box-shadow: 0px 0px 2px 1px;
}

.updateNews-container {
    background-color: rgb(210, 210, 35);
    text-align: center;
    border-radius: 5px;
    /* padding:  8px 8px 8px 8px;
     */
    width: 90px;
    height:35px;
    margin:10px;
    box-shadow: 0px 0px 2px 1px;
    
}


#login-button-cont {
    width: 80%;
}

.font-controller {
    display: none;
}
#Md-postAdd, #fa-edit{
    font-size: 2rem;
    display: none;
}
#fa-edit{
    font-size: 1.5rem;
    display: none;
}

@media (max-width: 768px) {
    .font-controller{
        display: block;
        font-size: 2rem;
        color: rgb(108, 108, 163)
    }
    #login-button-cont{
        display: none;
    }
    .updateNews-container p,
    .addNews-container p{
        display: none;
    }
    /* .font-controller,  */
    #login-button-cont{
        display: none;
    }
    #fa-edit, #Md-postAdd{
        display: inline;  
    }
    .updateNews-container,
    .addNews-container{
        background-color: transparent;
        box-shadow: none;
        margin: 0px -10px;
        display: inline;
    }

}

