.cale-container{
    display: flex;
    flex-direction: column;
}
.cale-date {
    align-items: center;
    padding:0px 0px 0px;
}


@media (max-width: 1300px) and (min-width: 769px) {
    .cale-container h1{
       font-size: medium;
    }
}