.items {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    text-decoration: none;
}
/* .ccc-c {
    background-color: black;
} */

@media (max-width:1368px) {
    .items {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        /* border: 2px solid black */
    }
}

@media (max-width: 1970px) and (min-width: 1369px){
    .items{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        width: 100%
    }
}